/*
This is the styling page for the landing section of the portfolio.
On the left of the page is a welcome message styled with highlighted words
The self-portrait is positioned in the second half of the page
*/

/* Height is equal to 100% view height - the height of the navbar (5rem) */


/* Text Content */

#intro {
  height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#intro-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  padding: 2rem;
  font-size: 3.4rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hello {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 15px;
}

#introName {
  color: rgb(240, 156, 1);
}

#web-dev {
  margin-bottom: 20px;
}

.intro-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.25;
  color: rgb(240,240,240);
  max-width: 465px;
}

@media screen and (max-width: 850px) {
  .intro-text {
    font-size: 3.32rem;
  }

  .intro-paragraph {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 600px) {
  .intro-paragraph {
    max-width: 60vw;
    font-size: 0.9rem;
  }
}

.intro-text {
  margin-bottom: 15px;
}

#intro-connect {
  font-size: 1.38rem;
  transform: translateY(20px);
}

/* Self-Portrait */

#portrait {
  object-fit: cover;
  height: 100vh;
  position: absolute;
  top: 4rem;
  right: 10%;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .intro-text {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 1500px) {
  #portrait {
    right: 4%;
  }
}

@media screen and (max-width: 1250px) {
  #portrait {
    right: 2%;
  }
}

@media screen and (max-width: 900px) {
  #portrait {
    right: 0;
  }
}

@media screen and (max-width: 750px) {
  #portrait {
    right: -6vw;
  }
}

@media screen and (max-width: 480px) {
  #portrait {
    right: -13vw;
  }
}

@media screen and (max-width: 400px) {
  #portrait {
    right: -25vw;
  }
}

@media screen and (max-height:560px)   {
  #portrait {
    height: 800px;
    top: 0;
  }

  .intro-paragraph {
    font-size: 0.7rem;
    max-width: 30vw;
  }
  .intro-text {
    font-size: 2rem;
  }
}

@media screen and (max-height:500px) and (max-width: 900px)  {
  .intro-paragraph {
    font-size: 0.64rem;
    max-width: 30vw;
  }
}

/* Let's Connect */

#right-arrow:hover {
  transform: translateX(14px);
}

#intro-connect:hover {
  cursor: pointer;
}

#right-arrow {
  transition: 0.25s ease-in-out;
  margin-left: 12px;
  color: rgb(240, 156, 1);
}

/* Samsung landing page styling */

@media screen and (max-height: 750px) and (max-width: 375px){
  #portrait {
    top: -0.2rem;
  }
}

@media screen and (max-height: 850px) and (max-width: 390px) {
  #portrait {
    top: 1.5rem;
  }
}