/* Project section styling. This uses flexbox to have 4 containers in a 2x2 format
A title appears above each project and on click more project information is given */


#projects {
  /* 5rem is the height of the navbar */
  min-height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.projects-title {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.projects-container {
  display: flex;
  gap: 9vw;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image Styling */

.project-img {
  height: 11.5rem;
  width: 20rem;
  cursor: pointer;
  margin-bottom: 0.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.project-img-title {
  margin-bottom: 1rem;
  text-align: center;
}

.tools {
  max-width: 20rem;
  font-size: 0.9rem;
  color: #FFFFF0;
}

.img-links {
  display: flex;
  gap: 2rem;
}

.img-links a {
  height: 2rem;
  width: 6rem;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 0.3rem 1.2rem;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 6rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  transition: background-color 0.2s;
}

/* .img-links a::before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 6rem;
  border-radius: 100px;
  background-color: #fff;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  z-index: -5;
}

.img-links a:hover::before {
  transform: scale(1);
  z-index: -5
} */

.img-links a:hover {
  background-color: #fff;
  color: #121212;
  font-weight: 500;
}

.projects-see-more {
  padding: 0.5rem 2.5rem;
  border: none;
  background: #fff;
  border-radius: 1.6rem;
  font-size: 0.81rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/*Projects container has same margin-bottom as the gap between its individual items */

@media screen and (max-width: 985px) {
  .projects-container {
    gap: 2.2rem;
  }
}

@media screen and (max-width: 850px) {
  .projects-container {
    flex-direction : column;
    gap: 0;
  }

  .img-links a {
    margin-bottom: 3.7rem;
  }
}

@media screen and (max-width: 700px) {
  .projects-container {
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 4rem;
  }

  .project-img {
    width: 18rem;
  }

  .tools {
    max-width: 250px;
  }
  .img-links a {
    margin-bottom: 0;
    height: 1.8rem;
    width: 5.7rem;
  }

  .img-links p {
    font-size: 0.9rem;
  }

  .projects-title {
    font-size: 1.9rem;
    margin-bottom: 4rem;
  }
}
