#about {
  height: calc(80vh - 5rem);
  width: 100vw;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.about-description {
  max-width: 30rem;
}

.head-shot {
  height: 30vw;
  width: 50vw;
  object-fit: cover;
  border-radius: 5px;
}