/* Styling for the Contact Section */

#contact {
  height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 68rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
}

.contact-title {
  font-size: 2.5rem;
}
.contact-description {
  padding: 1rem;
  font-weight: 300;
  font-size: 0.93rem;
}

.contact-form {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  max-width: 60rem;
  margin: 0 auto;
}

.contact-name, .contact-email, .contact-message {
  font-size: 1rem;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  background: rgb(40, 40, 40);
  font-family: "Poppins", sans-serif;
}

.contact-submit {
  background: white;
  border: none;
  padding: 0.75rem 3.5rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.contact-icon {
  height: 3.3rem;
  width: 3.3rem;
  cursor: pointer;
  display: none;
}

.email-response {
  color: rgb(240, 156, 1);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .contact-icon {
    display: block;
  }

  .contact-submit {
    margin-bottom: 1.5rem;
  }
}
